<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        {% for course in courses %}
        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{course.name}} ({{course.section}})</h5>
                    <p class="card-text">
                        {% if course.day1 == 1 %} Lunes
                        {% elif course.day1 == 2 %} Martes
                        {% elif course.day1 == 3 %} Miércoles
                        {% elif course.day1 == 4 %} Jueves
                        {% elif course.day1 == 5 %} Viernes
                        {% elif course.day1 == 6 %} Sábado
                        {% endif %}
                        {{course.start1}}:00 - {{course.end1}}:00 ({{course.type1}})
                    </p>
                    {% if course.day2 != 0 %}
                    <p class="card-text">
                        {% if course.day2 == 1 %} Lunes
                        {% elif course.day2 == 2 %} Martes
                        {% elif course.day2 == 3 %} Miércoles
                        {% elif course.day2 == 4 %} Jueves
                        {% elif course.day2 == 5 %} Viernes
                        {% elif course.day2 == 6 %} Sábado
                        {% endif %}
                        {{course.start2}}:00 - {{course.end2}}:00 ({{course.type2}})
                    </p>
                    {% endif %}
                    <div class="row justify-content-center">
                        {% if course in current_user.matches %}
                        <form method="POST" action="{{url_for('main.deselect_course', id=course.id)}}">
                            <button type="submit" class="btn btn-sm btn-danger">Quitar de mis cursos</button>
                        </form>
                        {% else %}
                        <form method="POST" action="{{url_for('main.select_course', id=course.id)}}">
                            <button type="submit" class="btn btn-sm btn-info">Añadir a mis cursos</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>