<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

{% block body %}

{% include 'navbar.html' %}

<body>
    <div class="container py-2 mt-2">
        {% block jumbotron %}
        <div class="jumbotron py-4">
            <h4 class="display-4">Horarios automáticos</h4>
            <p class="lead">Facultad de ingniería eléctrica y elecrónica</p>
        </div>
        {% endblock %}
        
        {% block variable_content %}
        {% endblock %}
    </div>
</body>
{% endblock %}

</html>